@import 'src/index';

.main-container {
    --glow-animation-1-base-scale: 2;
    --glow-animation-2-base-scale: 3;

    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $dark-background-color;
    overflow: hidden;
    
    .glow-1 {
        position: absolute;
        z-index: 4;
        border-radius: 50%;
        box-shadow: 0 0 80px 30px #fff,  
                    0 0 80px 70px $secondary-color, 
                    0 0 300px 90px $primary-color; 
        transform: scale(var(--glow-animation-1-base-scale));
        opacity: 0.8;
        animation: glowAnimation1 8s linear infinite;
    }  

    .glow-2 {
        position: absolute;
        z-index: 4;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 70px 30px #fff,  
                    0 0 70px 60px $secondary-color, 
                    0 0 200px 60px $primary-color;
        border-radius: 50%;
        transform: scale(var(--glow-animation-2-base-scale));
        opacity: 0.8;
        animation: glowAnimation2 10s linear infinite;
    }
}

@mixin glow-animation($name, $base-scale) {
    @keyframes #{$name} {
        0% {
            box-shadow: 0 0 70px 30px #fff,  
                        0 0 70px 60px $secondary-color, 
                        0 0 200px 60px $primary-color;
            transform: scale($base-scale) rotate(0);
        }
        25% {
            box-shadow: 0 0 70px 30px #fff,  
                        0 0 70px 70px $secondary-color, 
                        0 0 200px 70px $primary-color;
            transform: scale(calc($base-scale - 1)) rotate(90deg);
        }
        50% {
            box-shadow: 0 0 70px 30px #fff,  
                        0 0 70px 50px $secondary-color, 
                        0 0 200px 60px $primary-color;
            transform: scale(calc($base-scale - 0.5)) rotate(180deg);
        }
        75% {
            box-shadow: 0 0 70px 30px #fff,  
                        0 0 200px 80px $secondary-color, 
                        0 0 200px 70px $primary-color;
            transform: scale(calc($base-scale - 1.2)) rotate(270deg);
        }
        100% {
            box-shadow: 0 0 70px 30px #fff,  
                        0 0 70px 60px $secondary-color, 
                        0 0 200px 60px $primary-color;
            transform: scale($base-scale) rotate(360deg);
        }
    }  
}

@include glow-animation(glowAnimation1, var(2));
@include glow-animation(glowAnimation2, var(3));
